In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.3.1'

In [4]:
data = pd.read_csv("car_fuel_efficiency.csv")

In [5]:
df = pd.DataFrame(data)
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [14]:
df.fuel_type.value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [8]:
df.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [10]:
df_asia = df[df['origin']=='Asia']
max_efficiency= df_asia['fuel_efficiency_mpg'].max()
print(max_efficiency)

23.759122836520497

In [15]:
mean_horsepower = df['horsepower'].median()
print(mean_horsepower)

149.0

In [20]:
mode_horsepower= df.horsepower.mode()[0]
print(mode_horsepower)

152.0

In [21]:
df.horsepower= df.horsepower.fillna(mode_horsepower)
mean_horsepower = df['horsepower'].median()
print(mean_horsepower)

152.0

In [22]:
df_asia=df[df['origin']=='Asia']
df_asia=df_asia[['vehicle_weight','model_year']]
df_asia=df_asia.head(7)
df_asia

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [23]:
import numpy as np
X=df_asia.to_numpy()

In [25]:
XTX=X.T @ X
XTX

array([[62248334.33150762, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

In [26]:
XTX_inv= np.linalg.inv(XTX)

In [27]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [28]:
w = XTX_inv @ X.T @ y

In [29]:
sum_w = w.sum()
print(sum_w)

0.5187709081074016